/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100&family=Turret+Road:wght@200;300;400;500&display=swap');


/* Asterisk wilcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
   
    /*Generic project styles*/
    color: #3a3a3a;
    font-family: 'Roboto', sans-serif;

}


/*Header*/
header {
    background-color: #ffffff;
    padding: 0 2rem 0.5rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Turret Road', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ff6600;
    border-radius: 30%;
    background-color: #f5d1d7;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.logo {
    height: 100px;
    width: 100px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
    top: 100%;
}

#nav-toggle {
    display: none;
}

/* Nav toggle label */
.nav-toggle-label {
    font-size: 2rem;
}

/*Main content*/
main {
    /*Make main element take up surplus space to push footer down*/
    flex: 1 0 auto;
    margin-top: 47px;
}

/* Hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url('../images/backgrnd.jpg') no-repeat center center/cover;
    position: relative;
    margin-bottom: 20px;
}

#cover-text {
    /* Final rgba values sets the opacity so it is semi-transparent */
    background-color: rgb(224, 255, 255, .7);
    font-size: 120%;
    position: absolute;
    bottom: 90px;
    width: 80%;
    min-height: 50px;
    padding-top: 10px;
    padding-left: 20px;
}

#cover-text>h2 {
    color: rgb(0, 100, 0);
}


.text-center {
    margin: 20px 0;
}


/* Activities page */
#activities-container img {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#photos img {
    width: 100%;
    height: auto;
}

/* Advice image */
.circle-cover-bg-1 {
    background: url('../images/advice1.jpg') no-repeat top center /cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}


.circle-cover-bg-2 {
    background: url('../images/advice2.jpg') no-repeat center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

.circle-cover-bg-3 {
    background: url('../images/advice3.jpg') no-repeat top center /cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

/*Footer*/
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: #f5d1d7;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #ff6600;
}

/* Contact us section */

.contact-section {
    background-image: url('../images/contact.jpg');
    background-size: cover;
    background-position: center;
    height: 750px;
    margin-top: 0.5rem;
}

.contactus-form {
    margin: 75px 10% 0 0;
    position: absolute;
    background-color:  rgb(245, 209, 215, 0.6);
    text-align: left;
    max-width: 400px;
    left: 10%;
    padding: 10px;
}

h2 {
    color: #007bff;
    margin: 2px;
    padding: 15px;
}

label {
    display: inline-block;
    min-width: 70px;
    margin-bottom: 8px;
    color: #333;
}
input[type="radio"] {
    margin-right: 20px;
}

.text-input,
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

h3 {
    margin-top: 20px;
    color: #333;
}

.send-button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.send-button:hover {
    background-color: #0056b3;
}


/* Advice section */

.advice {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.advice-one,
.advice-two,
.advice-three {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.advice-image-1,
.advice-image-2,
.advice-image-3 {
    display: flex;

}








   





/* Media queries */

/* Media query: large or landscape (576px and up) */
@media screen and (min-width: 576px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }
}
    


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 2rem;
        letter-spacing: 2.1px;
    }

    .nav-toggle-label {
        display: none;
    }

   


    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 100px;

    }

    /* Hero */
    #cover-text {
        width: 300px;
        left: 10px;
        bottom: 20px;

    }

    /* Activities*/
    #photos {
        column-count: 2;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 2px solid #e2435d;
        color: #ff6600;

    }

    /* Activities*/
    #photos {
        column-count: 2;
    }
}





    

